@import url('https://fonts.googleapis.com/css?family=Asap:400,500');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: white;
    padding: 20px;
}

body {
    background: #24272e;
    font-family: 'Asap', sans-serif;
}

header > h1 {
    color: #25272e;
    text-align: center;
    font-size: 2.5em;
}

.score-board {
    border: 3px solid white;
    width: 200px;
    margin: 20px auto;
    color: white;
    font-size: 3.2em;
    text-align: center;
    border-radius: .04em;
    padding: 15px 20px;
    position: relative;
}

.badge {
    background: #E25840;
    color: white;
    font-size: 14px;
    padding: 5px 12px;
}

#user-label {
    position: absolute;
    top: 30px;
    left: -25px;
}

#computer-label {
    position: absolute;
    top: 30px;
    right: -30px;
}

.result {
    font-size: 2.3em; 
    color: white;
}

.result > p {
    text-align: center;
    font-weight: bold;
    text-shadow: 1px 1px 10px black;

}

.choices {
    text-align: center;
}

.choice > img {
    max-width: 120px;
    
}

.choice {
    display: inline-block;
    padding: 10px;
    margin: 30px 15px;
    border-radius: 50%;
    box-shadow: 1px 1px 10px rgba(139, 138, 138, 0.67);
    transition: all 0.3s ease;
}

.choice:hover {
    cursor: pointer;
    box-shadow: 1px 1px 10px rgba(248, 247, 247, 0.67);

}

#action-message {
    text-align: center;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    text-shadow: 1px 1px 10px black;
}